<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>

    <br>

    <input type="submit" value="Iniciar Sesion">
</form>

<div class="row justify-content-center">
     <form class="mt-3 w-25" action="session/register" method="get">
        <button type="submit" class="btn btn-success">Registrarse</button>
    </form>
</div>